:root{
  --main-color:#0090f0;
  --p-color:#7b7b7b;
  --bg-color:#f3f3f3;
  --white-color:#fff;
  --color-heading:#253237;
  --border-color:#d6d6d6d5;
}
header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1000;
    background: var(--white-color);
}
.Top-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.Top-header .logo{
    width: 130px;
    max-height: 65px;
}
.Top-header .seacrch_box{
    width: 500px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border: 1px solid var(--main-color);
}
.Top-header .seacrch_box input{
    height: 45px;
    width: 440px;
    padding: 5px 15px 5px 20px;
    background-color: var(--bg-color);
    border-radius:  30px 0  0 30px;
}
.Top-header button{
    color:var(--white-color);
    height: 45px;
    width: 60px;
    background: var(--bg-color);
    border-radius:  0  30px 30px 0;
    background-color: var(--main-color);
    font-size: 20px;
    cursor: pointer;
}
.Top-header .header-icons{
    display: flex;
    align-items: center;
    gap:20px;
}
.Top-header .header-icons .icon{
    position: relative;
    cursor: pointer;
}
.Top-header .header-icons .icon svg{
font-size: 30px;
font-weight: bold;
}
.header-icons .icon .count{
    color:var(--white-color);
    position: absolute;
    top:-5px;
    right: -10px;
    border-radius: 50%;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
}
.btn-header{
    background: var(--main-color);
}
.btn-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-header .nav{
    display: flex;
    align-items: center;
    gap:50px;
    height:50px;
}
.btn-header .category-nav{
    width: 220px;
    height: 100%;
    position: relative;
}
.btn-header .category-nav .category-nav-list{
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    background: var(--white-color);
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
    border-top:0;
    max-height: 400px;
    overflow-y: auto;
    clip-path: polygon(0 0,100% 0, 100% 0 ,0 0);
    transition: 0.3s ease-in-out;
}
.btn-header .category-nav .category-nav-list.active{
    clip-path: polygon( 0 0 ,100% 0,100% 100% ,0 100%);
}
.category-nav-list a{
padding: 14px 10px;
border-bottom: 1px solid var(--border-color);
font-size: 14px;
}
.category-nav-list a:last-child{
    border-bottom: 0;
}
.category-nav .category-btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    padding: 0 15px;
    cursor: pointer;
    color:white;
}
.category-nav .category-btn p{
    color:white;
    font-size: 15px;
    font-weight: 600px;
}
.nav-links{
display: flex;
height: 100%;
}
.nav-links li{
    height: inherit;
    display: flex;
    align-items: center;
    padding: 15px 25px;
}
.nav-links li a{
    color:var(--white-color)
}
.btn-header .nav-links li.active{
background-color: #0079ca;
height: 100%;
}
.btn-header .sign-regs-icon{
    display: flex;
    align-items: center;
    gap:20px;
}
.btn-header .sign-regs-icon svg{
fill:var(--white-color);
font-size: 20px;
}
.icon.dark svg{
    width: 36px;
    height: 40px;
    font-size: 100px;
}